# Python
__pycache__/
*.py[cod]
*$py.class
*$py.class

# Virtual environments
.e2e_venv/
.env

# Project files and editors
/.e2e_venv/
.pytest_cache/

# Editor directories and files
.vscode/

# OS files
Thumbs.db


# Generated/stored keys and temp artifacts
keystore/keys/


# mypy
.mypy_cache/
